﻿@model IEnumerable<EmployeeData.City>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p class="right" style="text-align:right">
    <a asp-action="Create" class="btn btn-primary">Add City</a>
</p>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<table class="table table-condensed table-striped">
<thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th></th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State.Id)
        </td>
        <td>
            <a asp-action="Edit" class="btn btn-info btn-group-sm" asp-route-id="@item.Id"><span class="fa fa-pencil-square-o icon"></span></a>
            |<a asp-action="Details" class="btn btn-secondary btn-group-sm" asp-route-id="@item.Id"><span class="fa fa-search-plus icon"></span></a> |
            <a asp-action="Delete" class="btn btn-danger btn-group-sm" asp-route-id="@item.Id"><span class="fa fa-trash icon"></span></a>
        </td>
        
    </tr>
    }
</tbody>
</table>
