﻿@model EntityFrameworkProject.MultiData

@{
    ViewBag.Title = "GetDetails";
    WebGrid EmpDetail = new WebGrid(Model.Employee);
    WebGrid DeptDetail = new WebGrid(Model.Department);
}

<h2>GetDetails</h2>

<div>
    <h4>EmployeeDetail</h4>
    @EmpDetail.GetHtml();
</div>
<br>
<br>
<h2>GetDetails</h2>

<div>
    <h4>EmployeeDetail</h4>
    @EmpDetail.GetHtml();
</div>
<p>
    @Html.ActionLink("Edit", "Edit", "Edit") |
    @Html.ActionLink("Back to List", "Index")
</p>
