﻿@model IEnumerable<EmployeeDataAccess.EmployeeDetail>

@{
    ViewBag.Title = "Grid";
}
<html>
<head>
    <title>
        Jquery Data Table
    </title>
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <link href="http://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tblEmployee').DataTable();
        });
    </script>
</head>

<body>

    <center><h1>Employee Data </h1></center>
    <hr />
    <table class="col-md-12 table-bordered table-striped table-condensed cf" id="tblEmployee">
        <thead class="cf">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.empName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dob)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.email)
                </th>
              <th>
                    @Html.DisplayNameFor(model => model.state)
                </th>
              <th>
                    @Html.DisplayNameFor(model => model.city)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.zip)
                </th> 
                <th>
                    @Html.DisplayNameFor(model => model.joindate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dept)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.addr)
                </th>

            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td data-title="Employee Name">
                    @Html.DisplayFor(modelItem => item.empName)
                </td>
                <td data-title="DOB">
                    @Html.DisplayFor(modelItem => item.dob)
                </td>
                <td data-title="Phone">
                    @Html.DisplayFor(modelItem => item.phone)
                </td>
                <td data-title="Email">
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td data-title="State">
                    @Html.DisplayFor(modelItem => item.state)
                </td>
                <td data-title="City">
                    @Html.DisplayFor(modelItem => item.city)
                </td>
                <td data-title="Zip Code">
                    @Html.DisplayFor(modelItem => item.zip)
                </td>
                <td data-title="Joining Date">
                    @Html.DisplayFor(modelItem => item.joindate)
                </td>
                <td data-title="Department">
                    @Html.DisplayFor(modelItem => item.dept)
                </td>
                <td data-title="Address">
                    @Html.DisplayFor(modelItem => item.addr)
                </td>


            </tr>
            }
        </tbody>
    </table>
</body>
</html>