﻿ 
@model EmployeeDataServices.Models.EmployeeDetail
@{
    ViewData["Title"] = "_Detail";
}

<div class="form-group row">
    <label asp-for="EmployeeName" class="col-md-4 font-weight-bold col-form-label"></label>
    <div class="col-md-8">
        <th:input asp-for="EmployeeName" class="col-md-4 col-form-label"/>
    </div>
</div>
<div class="form-group row">
    <label asp-for="DOB" class="col-md-4 font-weight-bold col-form-label"></label>
    <div class="col-md-8">
        <label asp-for="DOB" class="col-md-4 col-form-label"></label>
    </div>
</div>
<div class="form-group row">
    <label asp-for="City" class="col-md-4 font-weight-bold col-form-label"></label>
    <div class="col-md-8">
        <label asp-for="City" class="col-md-4 col-form-label"></label>
    </div>
</div>
<div class="form-group row">
    <label asp-for="State" class="col-md-4 font-weight-bold col-form-label"></label>
    <div class="col-md-8">
        <label asp-for="State" class="col-md-4 col-form-label"></label>
    </div>
</div>
<div class="form-group row">
    <label asp-for="DepartmentName" class="col-md-4 font-weight-bold col-form-label"></label>
    <div class="col-md-8">
        <label asp-for="DepartmentName" class="col-md-4 col-form-label"></label>
    </div>
</div>
<div class="form-group row">
    <label asp-for="JoiningDate" class="col-md-4 font-weight-bold col-form-label"></label>
    <div class="col-md-8">
        <label asp-for="JoiningDate" class="col-md-4 col-form-label"></label>
    </div>
</div>
<div class="form-group row">
    <label asp-for="Email" class="col-md-4 font-weight-bold col-form-label"></label>
    <div class="col-md-8">
        <label asp-for="Email" class="col-md-4 col-form-label"></label>
    </div>
</div>
<div class="form-group row">
    <label asp-for="Phone" class="col-md-4 font-weight-bold col-form-label"></label>
    <div class="col-md-8">
        <label asp-for="Phone" class="col-md-4 col-form-label"></label>
    </div>
</div>
<div class="form-group row">
    <label asp-for="Zip" class="col-md-4 font-weight-bold col-form-label"></label>
    <div class="col-md-8">
        <label asp-for="Zip" class="col-md-4 col-form-label"></label>
    </div>
</div>
<div class="form-group row">
    <label asp-for="Address" class="col-md-4 font-weight-bold col-form-label"></label>
    <div class="col-md-8">
        <label asp-for="Address" class="col-md-4 col-form-label"></label>
    </div>
</div>

