﻿@model EmployeeDataServices.Models.EmployeeDetail
@{
    ViewData["Title"] = "_Form";
}
<div class="form-group row">
    <label asp-for="EmployeeName" class="col-md-5 font-weight-bold col-form-label"></label>
    <div class="col-md-7">
        <input asp-for="EmployeeName" class="form-control" />
        <span asp-validation-for="EmployeeName" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="DOB" class="col-md-5 font-weight-bold col-form-label"></label>
    <div class="col-md-7">
        <input asp-for="DOB" id="dob" type="text" class="form-control" />
        <span asp-validation-for="DOB" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="City" class="col-md-5 font-weight-bold col-form-label"></label>
    <div class="col-md-7">
        <select asp-for="City" class="form-control" id="city"></select>
        <span asp-validation-for="City" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="State" class="col-md-5 font-weight-bold col-form-label"></label>
    <div class="col-md-7">
        <select asp-for="State" class="form-control" asp-items="ViewBag.State" onchange="GetCity(this.value)">
            <option disabled selected hidden>Choose State</option>
        </select>
        <span asp-validation-for="State" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="DepartmentName" class="col-md-5 font-weight-bold col-form-label"></label>
    <div class="col-md-7">
        <select asp-for="DepartmentName" class="form-control" asp-items="ViewBag.DepartmentName"></select>
        <span asp-validation-for="DepartmentName" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="JoiningDate" class="col-md-5 font-weight-bold col-form-label"></label>
    <div class="col-md-7">
        <input asp-for="JoiningDate" id="join" type="text" class="form-control" />
        <span asp-validation-for="JoiningDate" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="Email" class="col-md-5 font-weight-bold col-form-label"></label>
    <div class="col-md-7">
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="Phone" class="col-md-5 font-weight-bold col-form-label"></label>
    <div class="col-md-7">
        <input asp-for="Phone" class="form-control" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="Zip" class="col-md-5 font-weight-bold col-form-label"></label>
    <div class="col-md-7">
        <input asp-for="Zip" class="form-control" />
        <span asp-validation-for="Zip" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="Address" class="col-md-5 font-weight-bold col-form-label"></label>
    <div class="col-md-7">
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
</div>