﻿@model EmployeeDataServices.Models.EmployeeDetail

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group row">
                <label asp-for="EmployeeName" class="col-md-5 font-weight-bold col-form-label"></label>
                <div class="col-md-7">
                    <input asp-for="EmployeeName" class="form-control" />
                    <span asp-validation-for="EmployeeName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="DOB" class="col-md-5 font-weight-bold col-form-label"></label>
                <div class="col-md-7">
                    <input asp-for="DOB" id="dob" type="text" class="form-control" />
                    <span asp-validation-for="DOB" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="State" class="col-md-5 font-weight-bold col-form-label"></label>
                <div class="col-md-7">
                    <select asp-for="State" class="form-control" asp-items="ViewBag.State" onchange="GetCity(this.value)" id="state">
                        <option disabled selected hidden>Choose State</option>
                    </select>
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="City" class="col-md-5 font-weight-bold col-form-label"></label>
                <div class="col-md-7">
                    <select asp-for="City" class="form-control" id="city" asp-items="ViewBag.City"></select>
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="DepartmentName" class="col-md-5 font-weight-bold col-form-label"></label>
                <div class="col-md-7">
                    <select asp-for="DepartmentName" class="form-control" asp-items="ViewBag.DepartmentName"></select>
                    <span asp-validation-for="DepartmentName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="JoiningDate" class="col-md-5 font-weight-bold col-form-label"></label>
                <div class="col-md-7">
                    <input asp-for="JoiningDate" id="join" type="text" class="form-control" />
                    <span asp-validation-for="JoiningDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Email" class="col-md-5 font-weight-bold col-form-label"></label>
                <div class="col-md-7">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Phone" class="col-md-5 font-weight-bold col-form-label"></label>
                <div class="col-md-7">
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Zip" class="col-md-5 font-weight-bold col-form-label"></label>
                <div class="col-md-7">
                    <input asp-for="Zip" class="form-control" />
                    <span asp-validation-for="Zip" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Address" class="col-md-5 font-weight-bold col-form-label"></label>
                <div class="col-md-7">
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css' rel='stylesheet'>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script>
    $("#dob,#join").datepicker({
    });

    //$(document).ready(function () {
    //    var city = document.getElementById('city').value;
    //    var x = document.getElementById('state').value;
    //    console.log(city);
    //    $.getJSON({
    //        type: 'Get',
    //        url: ' https://localhost:44343/api/employees1/' + x,
    //        contentType: "application/json; charset=utf-8",
    //        dataType: "json",
    //        success: function (data) {
    //            $.each(data, function (item) {
    //                $("<option>" + data[item] + "</option>").appendTo('#city');
    //            });
    //        }
    //    });
    //});
    function GetCity(value) {
        $('#city').empty();
        $.getJSON({
            type: 'Get',
            url: ' https://localhost:44343/api/employees1/' + value,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                $.each(data, function (item) {
                    $("<option>" + data[item] + "</option>").appendTo('#city');
                });
            }
        });
    }

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
