body{
background-image:url('https://68.media.tumblr.com/10012d52c86f7ca76476c52c080409bc/tumblr_nxwzu3zglC1rh2n3qo1_500.gif');}
#check
{content:"";
display:table;
clear:both;}
.check#bv1{
	align:left-side;
	
width:50%;	
}
.check#bv2{
	align:right-side;
width:50%;		
}
.check.vl {
  border-left: 6px solid green;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}
#bv1 {
text-align:left-side;
border-right:10px blue;
height:70%;
background-color:white ;
 border-style: solid;
 border-color:green;
 border-radius=100%;
 border-width=10px;
 padding:20px;
 margin: 0 50% 0 10%;
 }
.bv2{
	 text-align:right-side;
 background-color:#fff2cc;
  border-style: solid;
 
 border-color:green;
 border-radius=100%;
 margin: -600px 10% 0 50%;
 padding:20px;
 }
 label
 {font-family:verdana;}
input{
	font-family:bold;
	  border: .5px solid red;
  border-radius: 20px; 
margin:10px;  
  
}
select {
	border: .5px solid red;
  border-radius: 20px; 
}
button{
	background-color:blue;
	border-radius:15%;
	border-width:1px;
	border-color:black;
}
button:hover{
	color:blue;
}