﻿@model IEnumerable<EmployeeData.Department>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p class="right" style="text-align:right">
    <a asp-action="Create" class="btn btn-primary">Add Department</a>
</p>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </th>
            <th></th>
       
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">  @Html.DisplayFor(modelItem => item.DepartmentName)  </a>
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-info btn-group-sm" asp-route-id="@item.Id"><span class="fa fa-pencil-square-o icon"></span></a>

                    <a asp-action="Delete" class="btn btn-danger btn-group-sm" asp-route-id="@item.Id"><span class="fa fa-trash icon"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>
