﻿@using MVCProject.Models
@model    Employee
<DOCTYPE! HTML>
    <html>
    <head>
        <title>Registraton</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        @*<script src="~/Scripts/Validation.js"></script>*@
        <style>
            .icon {
                background: lightgray;
                color: black;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="container" id="Register">
            <div class="col-sm-3"></div>
            <div class="col-sm-6" style="border-color:lightgray;border-style:solid;border-width:1px;">
                <form>
                    <br><br>
                    <div style="background-color:black;"><br></div>
                    <h2>Add Employee</h2><hr>
                    <div class="row" id="result">
                        <div class="form-group row">
                            @Html.Label( "Name", new { @class = "col-md-4 col-form-label" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(Model => Model.empName, null, new { @class = "form-control", @placeholder = "username" })
                                <p id="nameParagraph"></p>
                                @Html.ValidationMessageFor(model => model.empName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.Label("DOB", "DOB", new { @class = "col-md-4 col-form-label" })
                            <div class="col-md-8 ">
                                @Html.TextBoxFor(Model => Model.dob, null, new { @class = "form-control", @placeholder = "dd/mm/yyyy", @type = "date" })
                                <p id="dobParagraph"></p>
                                @Html.ValidationMessageFor(model => model.dob, "", new { @class = "text-danger" })
                            </div>
                            <div class=""></div>
                        </div>
                        <div class="form-group row">
                            @Html.Label("Phone", "Phone", new { @class = "col-md-4 col-form-label" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(Model => Model.phone, null, new { @class = "form-control", @placeholder = "9989898988" })
                                <p id="numberParagraph"></p>
                                @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.Label("Email", "Email", new { @class = "col-md-4 col-form-label" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(Model => Model.email, null, new { @class = "form-control", @placeholder = "abc@ab.in" })
                                <p id="emailParagraph"></p>
                                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.Label("Department", "Department", new { @class = "col-md-4 col-form-label" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(Model => Model.dept, new SelectList(Enum.GetValues(typeof(Department))),
                                                    "Select Department",
                                                    new { @class = "form-control" })
                                <p id="deptParagraph"></p>
                                @Html.ValidationMessageFor(model => model.dept, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.Label("Address", "Address", new { @class = "col-md-4 col-form-label" })
                            <div class="col-md-8">
                                @Html.TextAreaFor(Model => Model.addr, 0, 0, new { @class = "form-control", @placeholder = "Please enter your address" })
                                <p id="addressParagraph"></p>
                                @Html.ValidationMessageFor(model => model.addr, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.Label("State", "State", new { @class = "col-md-4 col-form-label" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(Model => Model.state, new SelectList(Enum.GetValues(typeof(State))),
                                                "Select State",
                                                new { @class = "form-control" })
                                <p id="stateParagraph"></p>
                                @Html.ValidationMessageFor(model => model.state, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.Label("City", "City", new { @class = "col-md-4 col-form-label" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(Model => Model.city, new SelectList(Enum.GetValues(typeof(City))),
                                                "Select City",
                                                new { @class = "form-control" })

                                <p id="cityParagraph"></p>
                                @Html.ValidationMessageFor(model => model.city, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.Label("Zip", "Zip Code", new { @class = "col-md-4 col-form-label" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(Model => Model.zip, null, new { @class = "form-control", @placeholder = "110000" })
                                <p id="zipParagraph"></p>
                                @Html.ValidationMessageFor(model => model.zip, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.Label("Joining Date", "Joining Date", new { @class = "col-md-4 col-form-label" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(Model => Model.joindate, null, new { @class = "form-control", @placeholder = "dd/mm/yyyy", @type = "date" })
                                <p id="joindateParagraph"></p>
                                @Html.ValidationMessageFor(model => model.joindate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-8" style="margin-left:200px;">
                                <input type="Submit" class="btn btn-primary" style="margin-left:10px;" value="Submit" id="click"  />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
