
<div id="form">
    <div class="container">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
                <br><br>
                <h2>Registration</h2><hr>
                <div class="row">
                    <div class="form-group row">
                        <label for="name" class="col-md-4 col-form-label">First Name<span style="color:red">*</span> </label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" placeholder="First Name" name="firstName" ngModel />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-md-4 col-form-label">Last Name<span style="color:red">*</span> </label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" placeholder="Last Name" name="lastName" ngModel/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-md-4 col-form-label">Email<span style="color:red">*</span>  </label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" placeholder="abc@ab.in"  name="email" ngModel />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="phone" class="col-md-4 col-form-label">Phone<span style="color:red">*</span>  </label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" placeholder="phone number" name="phone" ngModel />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="dob" class="col-md-4 col-form-label">Date of birth<span style="color:red">*</span></label>
                        <div class="col-md-8">
                            <input type="date" class="form-control" name="dob" ngModel />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-8" style="margin-left:230px;">
                            <button type="submit" class="btn btn-primary" id="click">Save</button>
                            <button type="reset" class="btn btn" style="margin-left:20px;">Cancel</button>
                        </div>
                    </div>
                </div>
           </form>
        </div>
     </div>
</div>